html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: black;
}


.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #1276fe 0%, #9916b7 100%);
  border: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(250, 245, 245, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 20px;
  
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
 .active {
  display: block;
} 

 @media screen and (min-width: 768px) {
  .navbar {
    display: flex;
     justify-content: space-between; 
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  } 

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #ffffff;
  }
} 


/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008CBA;;
    position: -webkit-sticky; Safari
    position: sticky;
    top: 0;
    width: 30rem;
    display: flex;
    justify-content:space-between;
  } */
  
  /* li {
    float: left;
  } */
  
  /* nav li a {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(111, 102, 133);
  }
  
  .active {
    background-color: #4CAF50;
  }

  li a:active{
    background-color: blueviolet;
    font-weight: bolder;
    font-size:medium;
  }

header{
    display: flex;
    justify-content:start;
    margin: 0 5rem;
    text-align: left;
    font-size: x-large;
} */
 
/* nav{
    width: 25rem;
    height: 10rem;
    
} */

/* ul{
    display: flex;
    justify-content:space-between;
}

li{
    list-style: none;
} */

p{
  display:list-item;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 100px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 2em;
  }

  .button:active {
    background-color: #1276f1;
    box-shadow: 0 1px #c7bfc9;
    transform: translateY(4px);
  }
  
  .button1 {
    background-color: rgba(10, 1, 9, 0.87); 
    color: #9916b7;
    border: 1px solid #1276f1; 
    box-shadow: 0 4px 8px 0 rgba(231, 222, 222, 0.2), 0 4px 8px 0 rgba(18, 156, 126, 0.19);
    padding-left: 10px;
    padding-right: 10px ;
}
  
  
  .button1:hover {
    background-color: #1276f1; 
    color: white;
  }
  
  .button2 {
    background-color: rgb(10, 0, 0); 
    color: #1276f1; 
    border: 1px solid #9916b7;
    box-shadow: 0 4px 8px 0 rgba(231, 222, 222, 0.2), 0 4px 8px 0 rgba(14, 189, 23, 0.19);
    padding-left: 40px;
    padding-right: 40px ;
}
  
  
  .button2:hover {
    background-color:#9916b7;
    color: white;
  }
  

.img{
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 200px;
    margin: 10px 100px 20px 850px;
    display:block;
    box-shadow: 2px 2px 2px 2px #9916b7, 4px 4px 4px 4px #1276f1;
    position: relative;
    bottom: 370px;
    right: 40px;
}

#Home{
  padding-top: 20vh;
}


div h1{
    text-align: center;
    font-size: xxx-large;
}

article div p{
    text-align:center;
    justify-content: space-around;
    
}

#MyHobbies{
  height: 100vh;
  padding-top: 10vh;
}

.MyHobbies{
  padding-top: 3rem;
  justify-content: space-around;
  list-style: none;
  display: flex;
  padding-right: 3rem;
}

/* article{
    display: flex;
    justify-content: space-between;
    width: 95vw;
} */

/* article div h2{
    color: salmon;
} */

#Skills{
  height: 100vh;
  padding-top: 10vh;
}

.container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: rgba(238, 238, 238, 0.356);
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 7px;
    font-size: 18px;
    color: rgb(250, 248, 248);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(5, 5, 0, 0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f309cc;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #3ae23a;
  }
  .bar.back::before{
    background-color: #1619e6;
  }
  
  .bar.learning::before{
    width: calc(85% - 10px);
  }
  .bar.basic::before{
    width: calc(70% - 10px);
  }
  .bar.intermediate::before{
    width: calc(40% - 10px);
  }
  .bar.advanced::before{
    width: calc(90% - 10px);
  }
  .bar.expert::before{
    width: calc(70% - 10px);
  }
  

footer {
    background-color:black;
    color: white;
    font-size: 1.2rem;
    margin-bottom:0px;
    margin-top: 50px;
    padding-left: 450px;
}

footer ul{
  display: flex;
  list-style: none;
  justify-content:center;
  position: relative;
  right: 260px;
  bottom: 5px;
}


a {
    text-decoration: none;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}


a:hover {
    color:yellow;
}